.projectDetailsContainer {
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    background-color: black;

    @media screen and (min-width: 1024px) {
      margin-top: .5rem;
      width: 90%;
      align-self: center;
    }
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2rem;
    padding-top: 1rem;
    margin-bottom: 0;

    @media screen and (min-width: 1024px) {
      font-size: 2em;
      margin-top: .5rem;
    }
  }

  h2 {
    margin-top: 0;
    padding: .5rem 1rem;
    text-align: center;
    font-size: .8em;

    @media screen and (min-width: 1024px) {
      font-size: 1.2em;
    }
  }

  p {
    padding: 1rem;

    @media screen and (min-width: 1024px) {
      padding: 1.5rem;
    }
  }

  h3 {
    padding-left: 1rem;
    font-size: 1em;

    a {
      color: var(--orange);
      text-decoration: underline;
    }

    @media screen and (min-width: 1024px) {
      padding-left: 1.5rem;
    }
  }

  .navigationLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 2rem;
    gap: .5rem;


    @media screen and (min-width: 1024px) {
      display: inline;
      & :last-child {
        display: block;
        margin: 1rem;
      }

      & :first-child {
        margin-right: 1rem;
      }
    }


    a {
      background-color: var(--dark-blue);
      padding: .5rem;
      color: var(--light);
      border-radius: 10px;
      box-shadow: var(--box-shadow-light);
      cursor: pointer;

      &:hover {
        background-color: var(--light-blue);
      }
    }
  }
}